<section class="courses">

	<div class="row">
		<h2>Choose Your Course Here</h2>
		<hr class="light">

		<div class="four columns course">
			<h3>English Course<br />elementary level</h3>
			<h4>9:00-11:00 Monday To Friday</h4>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>

			<h4>Flexible start</h4>
			<p>This is a fantastic system for learning English.</p>
			<h4>LEARN:</h4>
			<ol>
				<li>1.  Pronounce words under instruction</li>
				<li>2.  Read and understand basic instructions</li>
				<li>3.  Make quick progress with all areas of English</li>
				<li>4.  Learn basic phrases</li>
				<li>5.  Improve your work prospects</li>
				<li>6.  Advance rapidly with your English</li>
				<li>7.  Learn in a dynamic and friendly environment</li>
				<li>8.  Practice Speaking, Writing, Listening, Reading</li>
				<li>10.Our multilingual team is always happy to help with any questions you may have. We can help you find the right course for your needs, find accommodation and give you careers’ advice. We speak English, Spanish, French, Italian and Romanian.</li>
			</ol>

			<p>10 hours of tuition per week<br />
			Personalised Learning Programme<br />
			Three times more teacher attention than in a regular school<br />
			Regular evaluation<br />
			Certificate of achievement at the end of minimum 20 hours of study<br />
			Access to free tips and strategies for learning English and blog<br />
			Weekly Social Programme</p>
			Multilingual support</p>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>
		</div>

		<div class="four columns course">
			<h3>English Course<br />Pre –intermediate level</h3>
			<h4>11:30-1:30 Monday To Friday</h4>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>
			
			<h4>Flexible start</h4>
			<p>This is a personalised system where you will advance rapidly.</p>
			<h4>LEARN:</h4>
			<ol>
				<li>1. Expand your vocabulary and improve your fluency</li>
				<li>2. Speak in various scenarios and situations</li>
				<li>3. Read and understand whole sentences without being prompted</li>
				<li>4.  Make quick progress with all areas of English</li>
				<li>5.  Converse at a basic level of English</li>
				<li>6.  Improve your work prospects</li>
				<li>7.  Advance rapidly with your English</li>
				<li>8.  Learn in a dynamic and friendly environment</li>
				<li>9.  Practice Speaking, Writing, Listening, Reading.</li>
			</ol>

			<p>Our multilingual team is always happy to help with any questions you may have. We can help you find the right course for your needs, find accommodation and give you careers’ advice. We speak English, Spanish, French, Italian and Romanian.</p>

			<p>10 hours of tuition per week<br />
			Personalised Learning Programme<br />
			Three times more teacher attention than in a regular school<br />
			Regular evaluation<br />
			Certificate of achievement at the end of minimum 20 hours of study<br />
			Access to free tips and strategies for learning English and blog<br />
			Weekly Social Programme</p>
			Multilingual support</p>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>
		</div>

		<div class="four columns course">
			<h3>English Course<br />Intermediate level</h3>
			<h4>2:00-4:00 Monday To Friday</h4>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>
			
			<h4>Flexible start</h4>
			<p>This is a powerful and enjoyable system for you to improve your English.</p>
			<h4>LEARN:</h4>
			<ol>
				<li>1. Make progress with all areas of English and communicate with confidence in a wide range of situations</li>
				<li>2.  Manage a whole scenario of situations, from customer care to negotiations and interviews. Use your language skills in a more formal or work setting</li>
				<li>3.  Ask for information from an educational institution</li>
				<li>4.  Improve your work prospects</li>
				<li>5.  Advance rapidly with your English</li>
				<li>6.  Learn in a dynamic and friendly environment</li>
				<li>7.  Practice Speaking, Writing, Listening,Reading</li>
				<li>9.  We can help you find the right course for your needs, find accommodation and give you careers’ advice. We speak English, Spanish, French, Italian and Romanian.</li>
			</ol>

			<p>10 hours of tuition per week<br />
			Personalised Learning Programme<br />
			Three times more teacher attention than in a regular school<br />
			Regular evaluation<br />
			Certificate of achievement at the end of minimum 20 hours of study<br />
			Access to free tips and strategies for learning English and blog<br />
			Weekly Social Programme</p>
			Multilingual support</p>

			<div>
				<p>Choose Your Membership (link to memberships)</p>
				<p>Silver Gold Platinum (link to buy now page)</p>
			</div>
		</div>

	</div>

</section>
