<section class="thankyou">

	<div class="row">

		<div class="ten columns offset-by-one">
		<br />
		<h2>Thank you!</h2>
		<br />
		<p>You have bought a course successfully.<br />
		We are looking forward to see you in our classes!
		This is a test page</p>

		</div>

	</div>

</section>