<section class="ten columns offset-by-one method">

	<div class="row">
		<h2>Our Teaching Method</h2>
		<hr class="light">

		<div class="three columns">
			<h3>Effective</h3>
			<p>Our Teaching Method is a powerful and effective system that uses memory techniques designed to help you speed up the process of learning not only English but anything you wish to learn and remember. Improve your English level through support, encouragement, evaluation and structured learning.</p>
		</div>

		<div class="three columns">
			<h3>Personalised</h3>
			<p>Classes have an average of 4 to 6 students (maximum 12). You will get at least three times more attention from the teacher and actual speaking, reading, listening and reading in our school than in other schools because of the teacher to student ratio.</p>
		</div>

		<div class="three columns">
			<h3>Varied and fun</h3>
			<p>This is a highly effective system for learning English that will give you the confidence YOU need to speak English quickly and well. The books we use are: Headway, English Grammar in Use, Cutting Edge, English Banana, other resources , workbooks and our own resources. Study materials are included –photocopies provided!</p>
		</div>
	</div>

	<div class="row">
		<h2>Learning With Accelerated English Language Courses at Purple Stone Academy</h2>
		<hr class="light">
		<p>At Purple Stone Academy, we use our unique LEARN REALQUICK ™ method that enhances the students’ learning with the use of multisensory techniques, memory techniques, whole brain learning techniques, personal development content, and the creation of a fun and enjoyable environment for learning.<br /><br />

		These techniques take into consideration the preferred learning styles of the learners, and the fact that the most effective learning happens in a relaxed, friendly and positive environment where students can make the most of their strengths and accelerate the process of learning.<br /><br />

		Our technique takes into account the benefits of using all your senses in the process of learning, since there is research to show that makes the learning process faster.<br /><br />

		The teaching style also takes into account that more than 75% of the learners are visual or kinaesthetic. That is why it incorporates all the preferred learning styles into the teaching, but it favours the visual and kinaesthetic learning. Learners learn by acting words out, by looking at pictures and by doing role plays of real situations.<br /><br />

		The style of teaching is focused on “edutaining” rather than traditional education.<br /><br />

		This refers to teaching the language in a fun and entertaining way, so that students would learn while also feeling relaxed, so that they would accelerate their rate of memorization.<br /><br />

		We take into consideration the fact that students cannot concentrate for too long, and for that reason we ask them to get up and walk around, work in teams and discuss with one another. The role of the teacher changes to becoming more of a moderator since the students learn by conversing with each other.<br /><br />

		The lessons are interactive; we occasionally teach the classes outside the classroom so the students change their environment.<br /><br />

		Studies have demonstrated that the accelerated learning is a result of using the right and left brain in combination. That is why we use classical music and energetic music in order to change the state your state, so that you can learn fast. With the use of this technique, you will be able to learn much better and faster.</p>

	</div>

</section>
