<section class="thankyou">

	<div class="row">

		<div class="ten columns offset-by-one">
		<br />
		<h2>Thank you!</h2>
		<br />
		<p>You have bought one of our products successfully.<br />
		Please check your email and follow instructions.</p>

		</div>

	</div>

</section>