<div class="post_menu">
	
	<div class="suscribe_aweber">
		<h3><i class="fa fa-envelope-o"></i> Keep in touch<br />Subscribe to our Newsletter</h3>
		<script type="text/javascript" src="http://forms.aweber.com/form/44/1399631844.js"></script>
	</div>
	
	<h3>Categories</h3>
	
	<ul>
		<% @categories.each do |category| %>
			<li><%= link_to truncate(category.name, :length => 40), category_path(category) %></li>
		<% end %>
	</ul>

</div>